body{
color:whitesmoke;
background-image: url("/images/photo-butterfly.webp");
width: 100%;

}


h1{
color: #4c95b0;

  
}
.aside{
    
margin-top: 10px;
width: 50%;
float: right; 
}
.aboutUs-bottom{

  width: 100%;  

}
#aboutUs-img{
height: 200px;
} 
nav{
    margin-top:50px;
    position: sticky;
    display: inline-block;
    float: right;
    background-color: #4c95b0;
    margin-bottom: 50px;
    width: 100%;
    height:30px;
    text-align: center;
    decoration: none;
    padding-left: 10px;
    color: white;
    padding-top: 5px;
    }

    .logo-img{
         height:30px;
        width: 100px; 
        
    }

    .nav-link{

        float:right;
        padding-right:15px;
        
        }
        .nav-link:hover{
            color:navy ;
            background-color: whitesmoke;
            
            }
            
        a .logo-img{

            float:left;
            
            }

            a{
                text-decoration: none;  
                color: aliceblue;  }



                button {

                    width: 100px;
                    background-color:#4c95b0;   
                    color: aliceblue;
                    }
                          
                    
button:hover{

background-color: whitesmoke;
color: #4c95b0;

}